apiVersion: v1
kind: Service
metadata:
  name: ntfy
  namespace: ntfy
spec:
  type: LoadBalancer
  loadBalancerIP: "192.168.2.241"
  selector:
    app: ntfy
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
