global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 1h
  timeout server 1h

frontend minecraft
  bind :25565
  default_backend minecraft-backend

frontend gtnh-admin-ssh
  bind :2222
  default_backend gtnh-admin-ssh-backend

backend minecraft-backend
  option tcp-check
  server mc-router mc-router.minecraft.svc.cluster.local:25565 check inter 5s rise 2 fall 3

backend gtnh-admin-ssh-backend
  server gtnh-admin gtnh-admin.minecraft.svc.cluster.local:22
